.footer-section {
  background-color: #33aed0;
}

.footer-section-copyright-container {
  text-align: center;
  color: #ffffff;
  background-color: #207188;
  padding: 10px;
}
.footer-section-sub-heading {
  color: #323f4b;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: bold;
}
.footer-section-text {
  color: #ffffff;
  font-family: "Roboto";
  font-size: 14px;
}
.icon {
  color: #ffffff;
  font-size: 18px;
}
